body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: #f5f5f5;
}

.application-definition {
  margin: 16px 8px;
  padding: 16px;
}

.create-application-job-paper {
  padding: 16px;
}

a {
  color: rgb(33, 150, 243);
  text-decoration: none;
}

.title {
  font-size: 20px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.87);
}

.headline {
  font-size: 24px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.87);
}

.sub-header-discreet {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.row-no-sides {
  margin-left: -1rem;
  margin-right: -1rem;
}

@media only screen and (min-width: 640px) {
  .visible-xs {
    display: none;
  }
}

@media only screen and (max-width: 639px) {
  .hidden-xs {
    display: none;
  }
}

.pull-right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.interpret-button {
  margin-top: 16px;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  transform-origin: 50% 50%;
}

.ScriptOpCodeList {
  margin: 0;
  border-radius: 2px;
  box-shadow:
    0 1px 5px 0 rgba(0,0,0,.12);
}

.OpCode {
  padding: 1px 10px 4px;
  box-sizing: border-box;
  border: 1px solid #EEE;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.CryptoOps {
  background: #0b97c4;
}

.StackOps {
  background: #23c426;
}

.ConstantOps {
  background: #c4c211;
}

.FlowControlOps {
  background: #c42db3;
}

.BitwiseLogicOps {
  background: #4ac4b2;
}

.ArithmeticOps {
  background: #c45f1e;
}

.LocktimeOps {
  background: #c40a46;
}

.ReservedOps {
  background: #bbbbc4;
}

.ConstantOps {
  background: #77c427;
}

.Values {
  background: #18c47d;
}

.PseudoOps {
  background: #77c427;
}

.SpliceOps {
  background: #18c47d;
}